extends layout

block content
  h1= title
  p Welcome to #{title}

  p Имя
  input(type="text")#name
  p Фамилия
  input(type="text")#surname
  br

  button#send Cохранить

  br
  br

  table
    tr
      td №
      td Имя
      td Фамилия
    each item, id in data
      tr
        td= (id+1)
        td= item.name
        td= item.surname
        td
          button(data-id="#{item._id}", data-flag="del") Удалить

  br
  p Всего #{counter} записей.